{% extends "base.html" %}
{% set page_title = "Select Member" %}

{% block content %}

<a href="{{ url_for('admin.objectives',auth_id=admin_id) }}" class="obj-style" style="color: greenyellow;font-size: 20px;">See All Objectives</a>

{% for auth in names_auth %}

<a href="{{ url_for('admin.objectives', auth_id=auth.id) }}" style="text-decoration: none;">
    <div style="display:flex; flex-direction:column; gap:15px;">
        <div class="select-card">
            <div class="card-content">
                <strong>{{ auth.name }}</strong><br>
                <small>{{ auth.email }}</small>
            </div>
        </div>
    </div>
</a><br>
{% endfor %}


<style>

.select-card input {
    display: none;
}


.select-card {
    cursor: pointer;
}

.card-content {
    background: white;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transition: all 0.2s ease;
}


.select-card input:checked + .card-content {
    border-color: green;
    background-color: #eaffea;
    box-shadow: 0 10px 25px rgba(0,128,0,0.3);
}
</style>

{% endblock %}