{% extends "base.html" %}
{% set page_title = "OBJECTIVES OVERVIEW" %}

{% block content %}
<h2 style="font-weight: bold; margin-bottom: 20px;">{{ batch.title }}</h2>

<p><strong>Employee:</strong> {{ employee.name }}</p><p>{{"(Team Leader)" if employee.team_leader else " "}}</p>

<table style="width:100%; max-width:800px; border-collapse: collapse; background-color: #f5e1dc; border-radius: 8px; overflow: hidden; margin-bottom: 30px;">
<tr>
    <th style="padding: 12px; border: 1px solid #ccc;">#</th>
    <th style="padding: 12px; border: 1px solid #ccc;">Objective</th>
    <th style="padding: 12px; border: 1px solid #ccc;">Category</th>
    <th style="padding: 12px; border: 1px solid #ccc;">Score</th>
    <th style="padding: 12px; border: 1px solid #ccc;">Weight</th>
    <th style="padding: 12px; border: 1px solid #ccc;">Weighted Score</th>
</tr>

{% for obj in objectives %}
<tr>
    <td style="padding: 12px; border: 1px solid #ccc;">{{ loop.index }}</td>
    <td style="padding: 12px; border: 1px solid #ccc;">
        <a href="{{ url_for('admin.objective_overview', objective_id=obj.id) }}" style="color: red; text-decoration: none;">
         {{ obj.objective }}
        </a>
    
    </td>

    <td style="padding: 12px; border: 1px solid #ccc;">{{ obj.category }}</td>
    <td style="padding: 12px; border: 1px solid #ccc;">
        {{ obj.admin_review.score if obj.admin_review else "-" }}
    </td>
    <td style="padding: 12px; border: 1px solid #ccc;">{{ obj.weight }}</td>
    <td style="padding: 12px; border: 1px solid #ccc;">
        {{ obj.admin_review.weighted_score if obj.admin_review else "-" }}
    </td>
</tr>
{% endfor %}


<tr style="font-weight: bold; background-color:#e0b7a4;">
    <td colspan="5" style="padding:12px; border:1px solid #ccc; text-align:right;">Total Weighted Score</td>
    <td style="padding:12px; border:1px solid #ccc;">{{ total_weighted }}</td>
</tr>
</table>

<hr>

<a href="{{ url_for(
            'admin.delete_objective',
            objective_id=objective.id,
            assigned_by_id=objective.assigned_by.authentication.id
        ) }}"
           class="obj-style"
           style="background-color:red; color:white; margin-right:10px;">
            Delete "{{ objective.admin_batch.title }}"
        </a>

{% endblock %}